<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
    
    <p><%= user_var %></p>

    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>
